<section class="hero">

    <div class="container">

        <div class="row align-items-center">

            <div class="col-lg-6">

                <span class="badge bg-primary mb-3 px-3 py-2">
                    🚀 Bienvenido a HDev AI
                </span>
                <h1 class="display-2 fw-bold">

                    El futuro del desarrollo
                    comienza con la
                    Inteligencia Artificial

                </h1>
                <p class="lead mt-4">

                    Aprende Flask, Python, n8n,
                    Automatización e Inteligencia Artificial
                    mediante proyectos reales desarrollados
                    desde cero.

                </p>

                <div class="mt-5">
                    <a class="btn btn-primary btn-lg rounded-pill px-5">

                    Explorar contenido

                    </a>
                    <a class="btn btn-outline-light btn-lg rounded-pill px-5 ms-3">

                    Ver proyectos

                    </a>

                </div>

            </div>

            <div class="col-lg-6 text-center">

                <img
                    src="{{ url_for('static', filename='img/hero.svg') }}"
                    class="img-fluid hero-image">

            </div>

        </div>

    </div>

</section>